@media screen and (max-width: 960px) {
  .page-home {
    height: 100%;
  }

  .container {
    flex-direction: column;
  }

  .card {
    width: 80%;

    &:nth-child(1) {
      border-radius: 10px 10px 0px 0px;
    }
    &:last-child {
      border-radius: 0px 0px 10px 10px;
    }
  }
}