button {
  cursor: pointer;
  background: $light-gray;
  border-radius: 60px;
  border: $light-gray 1px solid;
  padding: 15px 30px;
  font-family: 'Lexend Deca', sans-serif;
  transition: .3s ease-in-out;
  color: #fff;


  &:hover {
    background-color: transparent;
  }
}

