body {
  height: 100%;
  font-family: 'Lexend Deca', sans-serif;
  font-size: $fz-base;
}
.page-home {
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    width: 1140px;
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}